@keyframes fadeScaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes fadeScaleInDelayed {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  30% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}
