.BatteryLevelBlock {
  svg {
    margin-right: 8px;

    path#ValuePath {
      transform: scaleY(0);
      transform-origin: center bottom;
      animation: draw 1.5s ease;
    }
  }

  .BatteryLevelBlockContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
  }

  .BatterLevelBlockText {
  }

  .BatteryLevelBlockValue {
    display: inline;
  }

  .BatteryLevelBlockUnit {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: inline;
  }
}
