$primary: #037BE7;
$secondary: #90E0EF;
$primaryAngular: conic-gradient(from 180deg at 50% 50%, #0085FF 0deg, #90E0EF 360deg);
$primaryLinear: linear-gradient(180deg, #90E0EF 0%, #0085FF 100%);

$darkLow: #212529;
$darkHigh: #495057;
$grayLow: #6C757D;
$grayMid: #ADB5BD;
$grayHigh: #CED4DA;
$lightLow: #E9ECEF;
$lightHigh: #F8F9FA;
