.ConfigGroupTip {
  padding: 18px;
  background: #f2f3f7;
  border-radius: 12px;
  animation: fadeIn 500ms ease;

  .ConfigGroupTipTitle {
    color: #6c757d;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-bottom: 12px;
  }

  .ConfigGroupTipText {
    color: #6c757d;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.01em;
  }
}
