.ConfigPage {
  .ConfigPageHeader {
    display: flex;
  }

  .ConfigPageBackButton {
    background: #e9ecef;
    border-radius: 12px;
  }

  .ConfigPageTitle {
  }

  .ConfigPageResetAppButton {
  }

  .ConfigPageContent {
  }
}
