$loaderZ: 1600;
$closeModalZ: 1500;
$modalZ: 1400;
$dropdownZ: 1300;
$errorMessageZ: 1250;
$headerZ: 1200;
$googleMapErrorZ: 1000;

$modalTransitionDuration: 350ms;

$headerHeight: 98px;

$tablet: 768px;
