$loaderZ: 1600;
$closeModalZ: 1500;
$modalZ: 1400;
$dropdownOpenZ: 1300;
$dropdownZ: 1250;
$headerZ: 1200;
$errorMessageZ: 1100;
$googleMapErrorZ: 1000;

$modalTransitionDuration: 350ms;

$headerHeight: 98px;
