.ConnectVehiclePage {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(#fff 50%, #f7f8fc 50%);
  min-height: 100vh;
  width: 100%;

  .ConnectVehiclePageError {
    text-align: center;
    background: #df4747;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    p {
      color: white;
    }
  }

  .ConnectVehiclePageHeader {
    margin-bottom: 63px;
  }

  .PrimaryButton,
  .SecondaryButton {
    width: 278px;
    margin: 20px auto;
  }

  .ConnectVehiclePageForm {
    width: 280px;
    margin: 0 auto;
  }
}
