.DashboardPage {
  width: 100%;
  min-height: 100vh;

  .GridContainer {
    position: relative;
    width: 100%;
    height: 100%;

    .GridItemContainer {
      position: absolute;
      overflow: hidden;
      will-change: transform, width, height, opacity;
      display: flex;
    }

    .GridItem {
      width: 100%;
    }
  }
}
