.FuelLevelBlock {
  .FuelLevelBlockContent {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .FuelLevelSvgWrapper {
    width: 226px;
    height: 154px;
    position: relative;
  }

  .FuelLevelBlockPercentValue {
    position: absolute;
    bottom: 24%;
    left: 50%;
    transform: translateX(-50%);
  }

  .FuelLevelBlockanimatedValue {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
  }

  svg {
    .cls-1 {
      fill: #adb5bd;
    }
    .cls-2 {
      fill: #e9ecef;
    }
    .cls-3 {
      fill: #495057;
    }

    path {
      transition: fill 250ms ease;
    }
  }
}
