.Header {
  height: 98px;
  background: white;
  box-shadow: 0px 3px 27px rgba(0, 0, 0, 0.06);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .HeaderFilterButton {
    svg {
      margin-right: 10px;
    }
  }

  .HeaderShownPropertiesCount {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #adb5bd;
    margin-left: 20px;
  }

  .HeaderViewDropdown {
    width: 130px;
    margin-left: auto;
    margin-right: 10px;

    .Dropdown {
      width: 100%;
    }
  }

  .HeaderFrequencyDropdown {
    width: 185px;
    margin-left: 0;

    .Dropdown {
      width: 100%;
    }
  }

  .HeaderVehicleSelect {
    margin: 0 24px 0 0;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;

    .HeaderVehicleSelectButtonBrand {
      font-weight: bold;
      font-size: 26px;
      line-height: 30px;
      color: #495057;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      white-space: nowrap;
      text-transform: capitalize;
    }

    .HeaderVehicleSelectButtonVin {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      color: #adb5bd;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      white-space: nowrap;
    }

    .HeaderVehicleSelectDropdownBrand {
      font-weight: bold;
      font-size: 21px;
      line-height: 23px;
      color: #495057;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      white-space: nowrap;
      text-transform: capitalize;
    }

    .HeaderVehicleSelectDropdownVin {
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      color: #adb5bd;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      white-space: nowrap;
    }

    .Dropdown {
      width: 100%;
      height: 100%;

      .DropdownButton {
        border: none;
        border-right: 1px solid #e9ecef;
        border-radius: 0;
        height: 100%;

        svg {
          width: 15px;
          height: 12px;

          path {
            stroke: #495057;
          }
        }
      }

      .DropdownContent {
        border-radius: 12px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
        top: calc(100%);
      }

      .DropdownItem {
        border-bottom: 1px solid #e9ecef;
        padding: 20px 24px;

        &.Selected {
          border-left: 4px solid #037be7;
          background: white;
        }

        &:hover {
          background: #f7f8fc;
        }
      }
    }
  }
}
