.HeadingBlock {
  .HeadingBlockContent {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #HeadingCircleSvg,
  #HeadingCarSvg {
    height: 204px;
    width: 204px;
    position: absolute;
    top: 0;
    left: 0;
  }

  #HeadingCarSvg {
    transition: transform 1s ease;
  }

  .HeadingCircleWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .HeadingValueWrapper {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
