@import 'config';

.Header {
  height: $headerHeight;
  width: 100%;
  box-sizing: border-box;
  z-index: $headerZ;

  .HeaderContent {
    position: fixed;
    height: $headerHeight;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 27px rgba(0, 0, 0, 0.06);
    background: white;
    width: 100%;
    z-index: $headerZ;
  }

  .HeaderFilterButton {
    margin-right: 10px;
    svg {
      margin-right: 10px;
    }
  }

  .HeaderShownPropertiesCount {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #adb5bd;
    margin-left: 20px;
  }

  .HeaderViewDropdown {
    width: 130px;
    margin-left: auto;
    margin-right: 10px;

    .Dropdown {
      width: 100%;
    }
  }

  .HeaderFrequencyDropdown {
    width: 185px;
    margin-left: 0;
    margin-right: 10px;

    .Dropdown {
      width: 100%;
    }
  }

  .HeaderIconButton {
    cursor: pointer;
    border: 1px solid #e9ecef;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #6c757d;
    font-weight: bold;
    transition: background-color 300ms ease;
    margin-right: 10px;
    height: 46px;
    box-sizing: border-box;

    &:hover,
    &:active,
    &:disabled {
      background: #f8f9fa;
      border: 1px solid #e9ecef;
    }

    &.ConfigButton {
      margin-right: 24px;
    }
  }

  @media (max-width: 1225px) {
    .HeaderShownPropertiesCount {
      display: none;
    }
  }
}
