.InitialConfigPage {
  .InitialConfigHeader {
    background: white;
    padding: 90px 260px 50px;
  }

  .InitialConfigContent {
    max-width: 928px;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
  }

  .SubHeader {
    color: #6C757D;
    margin-bottom: 20px;
    margin-top: 50px;
  }

  .TokenInfo {
    padding-left: 18px;
    margin-bottom: 50px;

    label {
      margin-bottom: 10px;
    }
  }
}
