.ListBlock {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 3px 27px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 22px;
  width: 100%;
  box-sizing: border-box;

  .ListBlockCapability {
    font-size: 16px;
    line-height: 28px;
    color: #495057;
    flex-shrink: 1;
    min-width: 200px;
  }

  .ListBlockProperty {
    flex-shrink: 1;
    font-size: 16px;
    line-height: 28px;
    color: #495057;
    font-weight: bold;
    min-width: 200px;
  }

  .ListBlockValues {
    font-size: 16px;
    line-height: 28px;
    color: #495057;
    flex: 1;
    flex-shrink: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .ListBlockValue {
    flex: 1;
    padding: 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .PinButton {
    position: relative;
    top: inherit;
    right: inherit;
    display: flex;
    align-items: center;
  }
}
