.PinButton {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  user-select: none;

  svg path {
    fill: #ced4da;
    transition: fill 250ms ease;
  }

  &:hover {
    svg path {
      fill: #adb5bd;
    }
  }

  &.active {
    svg path {
      fill: #037be7;
    }

    &:hover {
      svg path {
        fill: #0375db;
      }
    }
  }
}
