.TemperatureBlock {
  .TemperatureBlockContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
  }

  #TemperaturePropertyValueCircle {
    transition: stroke-dashoffset 1s ease-out;
  }

  .TemperatureBlockInnerCircle {
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #e9ecef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .TemperatureBlockValue {
  }

  .TemperatureBlockUnit {
  }
}
