.TemperaturePropertyBlock {
  .TemperaturePropertyBlockContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
  }

  .TemperaturePropertyBlockOuterCircle {
    path {
      transition: stroke-dashoffset 500ms ease-out;
    }
  }

  .TemperaturePropertyBlockInnerCircle {
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #e9ecef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .TemperaturePropertyBlockValue {
  }

  .TemperaturePropertyBlockUnit {
  }
}
