.TextInput {
  background: #ffffff;
  border: 2px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 12px;
  color: #6c757d;
  letter-spacing: -0.01em;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  transition: border 250ms ease, margin-bottom 250ms ease;
  padding: 10px 10px 10px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;

  &.Focus {
    border-color: #037be7;
  }

  &.NotEmpty.NotError {
    .TextInputIcon {
      opacity: 1;
    }
  }

  &.Error {
    border-color: #df4747;
    margin-bottom: 30px;
  }

  .TextInputInput {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    outline: none;
    display: block;
    font-size: 16px;
    line-height: 28px;
    height: 24px;
    padding-right: 24px;
  }

  .TextInputIcon {
    position: absolute;
    top: 0;
    right: 10px;
    pointer-events: none;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 250ms ease;

    svg path {
      fill: #037be7;
    }
  }

  .TextInputError {
    position: absolute;
    top: calc(100% + 4px);
    left: 20px;
    color: #df4747;
  }

  &.Disabled {
    background: #e9ecef;
  }
}
