.TextArea.TextInput {
  height: 450px;

  .TextInputInput {
    width: 100%;
    height: 100%;
    resize: none;
  }

  .TextInputIcon {
    align-items: flex-start;
    height: 100%;
    padding-top: 10px;
  }

  .TextAreaError {
    position: absolute;
    top: calc(100% + 4px);
    left: 20px;
    color: #df4747;
  }
}
